# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
env/
venv/
.venv/
.env
.env.*
*.sqlite3
*.db
fintech.db
backend/*.db
backend/fintech.db


# Node
node_modules/
/dist
/build

# VSCode
.vscode/

# Logs
*.log

# Database
*.db
